In [6]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [7]:
!jt -t grade3 -tf hack -f fira -fs 95 -tfs 11 -nfs 115 -cellw 88%
# nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
# nulls_percent_df.columns = ['column_name', 'nulls_percentage']
# nulls_percent_df
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [8]:
a = pd.read_csv('a.csv',low_memory=False)
p = pd.read_csv('p.csv',low_memory=False)
d = pd.read_csv('d.csv',low_memory=False)
q = pd.read_csv('q.csv',low_memory=False)
s = pd.read_csv('s.csv',low_memory=False)

In [9]:
display(a.shape)
display(a.head(2))
display(p.shape)
display(p.head(2))
display(d.shape)
display(d.head(2))
display(q.shape)
display(q.head(2))
display(s.shape)
display(s.head(2))

(2479911, 8)

,TOPIC__C,DOMAIN__C,QUESTION_TEXT__C,TYPE_OF_CHANGE__C,MAXIMUM_SCORE__C,ANSWER_WEIGHT__C,CURRENT_ANSWER__C,SYSTEMMODSTAMP
0,TE2020 B3 Work Environment,B. Shape,Our Network leaders/owners are evaluated on th...,NaN,NaN,NaN,This is consistently done,2020-08-04T01:48:14.000Z
1,TE2020 A3 Leadership,A. Steer,Our Leadership Competency Model is evaluated r...,NaN,NaN,NaN,This is consistently done,2020-08-04T01:48:14.000Z

(21055, 8)

,ACCOUNT_CUSTOMER_TYPE__C,AMOUNT__C,SUM_OF_RELATED_INVOICES__C,COUNTRY_CATEGORY__C,PRE_ASSESSMENT_OUTCOME__C,YEAR__C,SURVEY_SCORE__C,SYSTEMMODSTAMP
0,Churned,11400,11400,Core,2 = neutral,2020.0,NaN,2022-03-14T07:42:29.000Z
1,Churned,139500,"2530641,6",Core,2 = neutral,2020.0,NaN,2022-03-14T07:50:32.000Z

(57, 5)

,DOMAIN_WEIGHT__C,NAME,NAME_ENGLISH__C,SURVEY__C,SYSTEMMODSTAMP
0,10.0,TE2022 F. Unite,Unite,a263Y00000BN88IQAT,2021-04-07T08:56:44.000Z
1,15.0,TE2022 B. Shape,Shape,a263Y00000BN88IQAT,2021-04-07T08:56:44.000Z

(1389, 7)

,QUESTION_NUMBER__C,TOPIC__C,DOMAIN__C,SCORING__C,QUESTION_DESCRIPTION__C,BUCKET_ADVICE_WEIGHT__C,SYSTEMMODSTAMP
0,B3.13,TE2022 B3 Work Environment HQ,TE2022 B. Shape HQ,D,Our network leaders/owners are evaluated on th...,1.65,2022-03-14T06:50:37.000Z
1,A3.05,TE2022 A3 Leadership HQ,TE2022 A. Steer HQ,C,Our leadership competency model is evaluated r...,0.95,2022-03-14T06:50:37.000Z

(7, 9)

,PROGRAMME__C,TYPE__C,SCORING_POINTS_A__C,SCORING_POINTS_B__C,SCORING_POINTS_C__C,SCORING_POINTS_D__C,SCORING_POINTS_E__C,SURVEY_STATUS__C,SYSTEMMODSTAMP
0,TE2022,Standard_Survey,0.0,0.5,1.0,2.0,4.0,Active,2022-03-15T09:45:00.000Z
1,TE2022,HQ_Survey,0.0,0.5,1.0,2.0,4.0,Closed,2022-03-14T06:50:36.000Z

In [10]:
m1 = a.merge(p,how='left')
m2 = m1.merge(d,how='left')
m3 = m2.merge(q,how='left')
m4 = m3.merge(s,how='left')

In [11]:
display(m4.isna().sum())
m4.shape

TOPIC__C                            1
DOMAIN__C                           1
QUESTION_TEXT__C                    1
TYPE_OF_CHANGE__C             1366999
MAXIMUM_SCORE__C               741441
ANSWER_WEIGHT__C               741441
CURRENT_ANSWER__C               79508
SYSTEMMODSTAMP                      0
ACCOUNT_CUSTOMER_TYPE__C      2478299
AMOUNT__C                     2478299
SUM_OF_RELATED_INVOICES__C    2478299
COUNTRY_CATEGORY__C           2478299
PRE_ASSESSMENT_OUTCOME__C     2478777
YEAR__C                       2478299
SURVEY_SCORE__C               2478414
DOMAIN_WEIGHT__C              2480006
NAME                          2480006
NAME_ENGLISH__C               2480006
SURVEY__C                     2480006
QUESTION_NUMBER__C            2480006
SCORING__C                    2480006
QUESTION_DESCRIPTION__C       2480006
BUCKET_ADVICE_WEIGHT__C       2480006
PROGRAMME__C                  2480006
TYPE__C                       2480006
SCORING_POINTS_A__C           2480006
SCORING_POINTS_B__C           2480006
SCORING_POINTS_C__C           2480006
SCORING_POINTS_D__C           2480006
SCORING_POINTS_E__C           2480006
SURVEY_STATUS__C              2480006
dtype: int64

(2480006, 31)

In [12]:
m4.head()

,TOPIC__C,DOMAIN__C,QUESTION_TEXT__C,TYPE_OF_CHANGE__C,MAXIMUM_SCORE__C,ANSWER_WEIGHT__C,CURRENT_ANSWER__C,SYSTEMMODSTAMP,ACCOUNT_CUSTOMER_TYPE__C,AMOUNT__C,SUM_OF_RELATED_INVOICES__C,COUNTRY_CATEGORY__C,PRE_ASSESSMENT_OUTCOME__C,YEAR__C,SURVEY_SCORE__C,DOMAIN_WEIGHT__C,NAME,NAME_ENGLISH__C,SURVEY__C,QUESTION_NUMBER__C,SCORING__C,QUESTION_DESCRIPTION__C,BUCKET_ADVICE_WEIGHT__C,PROGRAMME__C,TYPE__C,SCORING_POINTS_A__C,SCORING_POINTS_B__C,SCORING_POINTS_C__C,SCORING_POINTS_D__C,SCORING_POINTS_E__C,SURVEY_STATUS__C
0,TE2020 B3 Work Environment,B. Shape,Our Network leaders/owners are evaluated on th...,NaN,NaN,NaN,This is consistently done,2020-08-04T01:48:14.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TE2020 A3 Leadership,A. Steer,Our Leadership Competency Model is evaluated r...,NaN,NaN,NaN,This is consistently done,2020-08-04T01:48:14.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TE2020 C2 Talent Acquisition,C. Attract,We measure candidate experience in a structure...,NaN,NaN,NaN,This is not done,2020-08-04T01:48:14.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TE2020 C3 On-boarding,C. Attract,We have specific internal social media groups ...,NaN,NaN,NaN,This is consistently done,2020-08-04T01:48:14.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TE2020 A3 Leadership,A. Steer,A Leadership Competency Model has been defined...,NaN,NaN,NaN,This is consistently done,2020-08-04T01:48:14.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
m4.TYPE_OF_CHANGE__C = m4.TYPE_OF_CHANGE__C.fillna('Unknown')
# m4.TYPE_OF_CHANGE__C.value_counts(dropna=False)

In [14]:
m4.MAXIMUM_SCORE__C = m4.MAXIMUM_SCORE__C.fillna(1.0)
# m4.MAXIMUM_SCORE__C.value_counts(dropna=False)

In [15]:
m4.ANSWER_WEIGHT__C = m4.ANSWER_WEIGHT__C.fillna(np.mean(m4.ANSWER_WEIGHT__C))
# m4.ANSWER_WEIGHT__C.value_counts(dropna=False)

In [16]:
m4.CURRENT_ANSWER__C = m4.CURRENT_ANSWER__C.fillna('Unknown')
# m4.CURRENT_ANSWER__C.value_counts(dropna=False)

In [17]:
def clean_answer(x):
    if x == 'This is consistently done':
        return x
    elif x == 'This is not done':
        return x
    elif x == 'We do not do this consistently':
        return x
    elif x == 'Unknown':
        return x
    elif x == 'Slight improvement':
        return x
    else:
        return 'Other'

m4.CURRENT_ANSWER__C = list(map(clean_answer, m4.CURRENT_ANSWER__C))
# m4.CURRENT_ANSWER__C.value_counts(dropna=False)

In [18]:
display(m4.shape)
m4.head(2)

(2480006, 31)

,TOPIC__C,DOMAIN__C,QUESTION_TEXT__C,TYPE_OF_CHANGE__C,MAXIMUM_SCORE__C,ANSWER_WEIGHT__C,CURRENT_ANSWER__C,SYSTEMMODSTAMP,ACCOUNT_CUSTOMER_TYPE__C,AMOUNT__C,SUM_OF_RELATED_INVOICES__C,COUNTRY_CATEGORY__C,PRE_ASSESSMENT_OUTCOME__C,YEAR__C,SURVEY_SCORE__C,DOMAIN_WEIGHT__C,NAME,NAME_ENGLISH__C,SURVEY__C,QUESTION_NUMBER__C,SCORING__C,QUESTION_DESCRIPTION__C,BUCKET_ADVICE_WEIGHT__C,PROGRAMME__C,TYPE__C,SCORING_POINTS_A__C,SCORING_POINTS_B__C,SCORING_POINTS_C__C,SCORING_POINTS_D__C,SCORING_POINTS_E__C,SURVEY_STATUS__C
0,TE2020 B3 Work Environment,B. Shape,Our Network leaders/owners are evaluated on th...,Unknown,1.0,84.514216,This is consistently done,2020-08-04T01:48:14.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TE2020 A3 Leadership,A. Steer,Our Leadership Competency Model is evaluated r...,Unknown,1.0,84.514216,This is consistently done,2020-08-04T01:48:14.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
m4 = m4.drop(['QUESTION_TEXT__C','SYSTEMMODSTAMP'],axis=1)

In [20]:
m4.TOPIC__C.value_counts(dropna=False)
m4.TOPIC__C = m4.TOPIC__C.dropna()

In [21]:
m4.DOMAIN__C.value_counts(dropna=False)
m4.DOMAIN__C = m4.DOMAIN__C.dropna()

In [22]:
m4.ACCOUNT_CUSTOMER_TYPE__C.value_counts(dropna=False)
m4.ACCOUNT_CUSTOMER_TYPE__C = m4.ACCOUNT_CUSTOMER_TYPE__C.fillna('Unknown')

In [23]:
m4.AMOUNT__C.value_counts(dropna=False)
m4.AMOUNT__C = pd.to_numeric(m4.AMOUNT__C,errors='coerce')
m4.AMOUNT__C = m4.AMOUNT__C.fillna(np.mean(m4.AMOUNT__C))

In [24]:
m4.SUM_OF_RELATED_INVOICES__C.value_counts(dropna=False)
m4.SUM_OF_RELATED_INVOICES__C = pd.to_numeric(m4.SUM_OF_RELATED_INVOICES__C,errors='coerce')
m4.SUM_OF_RELATED_INVOICES__C = m4.SUM_OF_RELATED_INVOICES__C.fillna(np.mean(m4.SUM_OF_RELATED_INVOICES__C))

In [25]:
m4.COUNTRY_CATEGORY__C.value_counts(dropna=False)
m4 = m4.drop(['COUNTRY_CATEGORY__C'],axis=1)

In [26]:
m4.PRE_ASSESSMENT_OUTCOME__C.value_counts(dropna=False)
m4 = m4.drop(['PRE_ASSESSMENT_OUTCOME__C'],axis=1)

In [27]:
m4.YEAR__C.value_counts(dropna=False)
m4 = m4.drop(['YEAR__C'],axis=1)

In [28]:
# m4.SURVEY_SCORE__C.value_counts(dropna=False)
m4.SURVEY_SCORE__C = m4.SURVEY_SCORE__C.str.split(',').str[0]
m4.SURVEY_SCORE__C = pd.to_numeric(m4.SURVEY_SCORE__C,errors='coerce')
m4.SURVEY_SCORE__C = m4.SURVEY_SCORE__C.fillna(np.mean(m4.SURVEY_SCORE__C))

In [29]:
m4.DOMAIN_WEIGHT__C.value_counts(dropna=False)
m4 = m4.drop(['DOMAIN_WEIGHT__C'],axis=1)

In [30]:
m4.NAME.value_counts(dropna=False)
m4 = m4.drop(['NAME'],axis=1)

In [31]:
m4.NAME_ENGLISH__C.value_counts(dropna=False)
m4 = m4.drop(['NAME_ENGLISH__C'],axis=1)

In [32]:
m4.SURVEY__C.value_counts(dropna=False)
m4 = m4.drop(['SURVEY__C'],axis=1)

In [33]:
m4.QUESTION_NUMBER__C.value_counts(dropna=False)
m4 = m4.drop(['QUESTION_NUMBER__C'],axis=1)

In [34]:
m4.SCORING__C.value_counts(dropna=False)
m4 = m4.drop(['SCORING__C'],axis=1)

In [35]:
m4.QUESTION_DESCRIPTION__C.value_counts(dropna=False)
m4 = m4.drop(['QUESTION_DESCRIPTION__C'],axis=1)

In [36]:
m4.BUCKET_ADVICE_WEIGHT__C.value_counts(dropna=False)
m4 = m4.drop(['BUCKET_ADVICE_WEIGHT__C'],axis=1)

In [37]:
m4.ACCOUNT_CUSTOMER_TYPE__C.value_counts(dropna=False)

Unknown              2478299
Existing Business       1621
New Business              76
Prospect                  10
Name: ACCOUNT_CUSTOMER_TYPE__C, dtype: int64

In [38]:
display(m4.shape)
m4.head()

(2480006, 18)

,TOPIC__C,DOMAIN__C,TYPE_OF_CHANGE__C,MAXIMUM_SCORE__C,ANSWER_WEIGHT__C,CURRENT_ANSWER__C,ACCOUNT_CUSTOMER_TYPE__C,AMOUNT__C,SUM_OF_RELATED_INVOICES__C,SURVEY_SCORE__C,PROGRAMME__C,TYPE__C,SCORING_POINTS_A__C,SCORING_POINTS_B__C,SCORING_POINTS_C__C,SCORING_POINTS_D__C,SCORING_POINTS_E__C,SURVEY_STATUS__C
0,TE2020 B3 Work Environment,B. Shape,Unknown,1.0,84.514216,This is consistently done,Unknown,38340.864516,121660.357695,89.265075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TE2020 A3 Leadership,A. Steer,Unknown,1.0,84.514216,This is consistently done,Unknown,38340.864516,121660.357695,89.265075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TE2020 C2 Talent Acquisition,C. Attract,Unknown,1.0,84.514216,This is not done,Unknown,38340.864516,121660.357695,89.265075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TE2020 C3 On-boarding,C. Attract,Unknown,1.0,84.514216,This is consistently done,Unknown,38340.864516,121660.357695,89.265075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TE2020 A3 Leadership,A. Steer,Unknown,1.0,84.514216,This is consistently done,Unknown,38340.864516,121660.357695,89.265075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
small_m4 = m4[m4.ACCOUNT_CUSTOMER_TYPE__C!='Unknown'].reset_index()
small_m4 = small_m4.drop(['index'],axis=1)

In [40]:
small_m4.PROGRAMME__C.value_counts(dropna=False)
small_m4 = small_m4.drop(['PROGRAMME__C'],axis=1)

In [41]:
small_m4.TYPE__C.value_counts(dropna=False)
small_m4 = small_m4.drop(['TYPE__C'],axis=1)

In [42]:
small_m4.SCORING_POINTS_A__C.value_counts(dropna=False)
small_m4 = small_m4.drop(['SCORING_POINTS_A__C'],axis=1)

In [43]:
small_m4.isna().sum
small_m4 = small_m4.drop(['SCORING_POINTS_B__C','SCORING_POINTS_C__C','SCORING_POINTS_D__C','SCORING_POINTS_E__C','SURVEY_STATUS__C',],axis=1)

In [44]:
small_m4['Survey'] = small_m4.TOPIC__C.str.split(' ',1).str[0]

In [45]:
small_m4.TOPIC__C = small_m4.TOPIC__C.str.split(' ',1).str[1]

In [46]:
small_m4['Topic_Name'] = small_m4.TOPIC__C.str.split(' ',1).str[1]

In [47]:
small_m4.TOPIC__C = small_m4.TOPIC__C.str.split(' ',1).str[0]

In [48]:
small_m4.DOMAIN__C = small_m4.DOMAIN__C.str.split('.',1).str[1]

In [49]:
cols = ['TOPIC__C',
       'TYPE_OF_CHANGE__C',
       'CURRENT_ANSWER__C',
       'ACCOUNT_CUSTOMER_TYPE__C',
       'MAXIMUM_SCORE__C',
       'ANSWER_WEIGHT__C',
       'AMOUNT__C',
       'SUM_OF_RELATED_INVOICES__C',
       'SURVEY_SCORE__C']

In [50]:
feat_model = small_m4[cols]
feat_model.head(2)

,TOPIC__C,TYPE_OF_CHANGE__C,CURRENT_ANSWER__C,ACCOUNT_CUSTOMER_TYPE__C,MAXIMUM_SCORE__C,ANSWER_WEIGHT__C,AMOUNT__C,SUM_OF_RELATED_INVOICES__C,SURVEY_SCORE__C
0,C2,No Change,This is consistently done,Existing Business,1.0,100.0,10000.0,10000.0,87.0
1,C1,No Change,This is consistently done,Existing Business,1.0,100.0,10000.0,10000.0,87.0

In [51]:
display(small_m4.shape)
display(small_m4.isna().sum().sum())
small_m4.head()

(1707, 12)

0

,TOPIC__C,DOMAIN__C,TYPE_OF_CHANGE__C,MAXIMUM_SCORE__C,ANSWER_WEIGHT__C,CURRENT_ANSWER__C,ACCOUNT_CUSTOMER_TYPE__C,AMOUNT__C,SUM_OF_RELATED_INVOICES__C,SURVEY_SCORE__C,Survey,Topic_Name
0,C2,Attract,No Change,1.0,100.0,This is consistently done,Existing Business,10000.0,10000.0,87.0,TE2023,Talent Acquisition
1,C1,Attract,No Change,1.0,100.0,This is consistently done,Existing Business,10000.0,10000.0,87.0,TE2023,Employer Branding
2,C1,Attract,No Change,1.0,100.0,This is consistently done,Existing Business,10000.0,10000.0,87.0,TE2023,Employer Branding
3,C2,Attract,No Change,1.0,100.0,This is consistently done,Existing Business,10000.0,10000.0,87.0,TE2023,Talent Acquisition
4,C3,Attract,No Change,1.0,100.0,This is consistently done,Existing Business,10000.0,10000.0,87.0,TE2023,On-boarding

In [ ]:
# sns.heatmap(small_m4.corr())

In [93]:
feat_model.isna().sum()

TOPIC__C                      0
TYPE_OF_CHANGE__C             0
CURRENT_ANSWER__C             0
ACCOUNT_CUSTOMER_TYPE__C      0
MAXIMUM_SCORE__C              0
ANSWER_WEIGHT__C              0
AMOUNT__C                     0
SUM_OF_RELATED_INVOICES__C    0
SURVEY_SCORE__C               0
dtype: int64

In [139]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score

In [120]:
X = feat_model.drop(['SURVEY_SCORE__C'],axis=1)
y = feat_model.SURVEY_SCORE__C

In [121]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [122]:
num_train = X_train.select_dtypes(np.number)
num_test = X_test.select_dtypes(np.number)

In [123]:
transformer = MinMaxScaler().fit(num_train)
num_train_minmax = transformer.transform(num_train)
num_test_minmax = transformer.transform(num_test)
pd.DataFrame(num_train_minmax).head()

     0         1         2         3
0  0.0  0.845142  1.000000  0.329819
1  0.0  0.845142  1.000000  0.329819
2  0.4  0.454545  0.024027  0.716951
3  0.0  1.000000  0.000327  0.000000
4  0.0  0.000000  0.038678  0.025721

In [124]:
# transforming cats
cat_train= X_train.select_dtypes(object)
cat_test= X_test.select_dtypes(object)

In [125]:
pd.DataFrame(X_train)

,TOPIC__C,TYPE_OF_CHANGE__C,CURRENT_ANSWER__C,ACCOUNT_CUSTOMER_TYPE__C,MAXIMUM_SCORE__C,ANSWER_WEIGHT__C,AMOUNT__C,SUM_OF_RELATED_INVOICES__C
465,E1,Unknown,Unknown,Existing Business,1.0,84.514216,213500.0,213500.0
451,E4,Unknown,Unknown,Existing Business,1.0,84.514216,213500.0,213500.0
142,E3,Unknown,Other,Existing Business,11.0,45.454545,13650.0,464100.0
1366,A2,No Change,This is consistently done,Existing Business,1.0,100.000000,8797.0,0.0
435,D2,New,This is not done,Existing Business,1.0,0.000000,16650.0,16650.0
...,...,...,...,...,...,...,...,...
826,D1,Upgrade,This is consistently done,Existing Business,1.0,100.000000,17500.0,17500.0
1099,A3,New,This is consistently done,Existing Business,1.0,100.000000,15000.0,15000.0
1356,A2,No Change,This is consistently done,Existing Business,1.0,100.000000,8797.0,0.0
307,D2,No Change,This is consistently done,Existing Business,1.0,100.000000,16650.0,16650.0
1593,B1,Unknown,This is consistently done,Existing Business,1.0,84.514216,13650.0,0.0

In [126]:
cat_train_ohe = cat_train.TOPIC__C
cat_test_ohe = cat_test.TOPIC__C

In [127]:
cat_train_ohe = cat_train_ohe.array.reshape(-1, 1) 
cat_test_ohe = cat_test_ohe.array.reshape(-1, 1)

In [128]:
ohe = OneHotEncoder(handle_unknown='error', drop='first').fit(cat_train_ohe) 
train_ohe = ohe.transform(cat_train_ohe).toarray()
test_ohe = ohe.transform(cat_test_ohe).toarray()
pd.DataFrame(test_ohe)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
338,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
339,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
340,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [129]:
cat_train_ord = cat_train.drop(['TOPIC__C'],axis=1)
cat_test_ord = cat_test.drop(['TOPIC__C'],axis=1)

In [130]:
display(feat_model.TYPE_OF_CHANGE__C.unique())
display(feat_model.CURRENT_ANSWER__C.unique())
display(feat_model.ACCOUNT_CUSTOMER_TYPE__C.unique())

array(['No Change', 'Unknown', 'Downgrade', 'Upgrade', 'New'],
      dtype=object)

array(['This is consistently done', 'This is not done', 'Other',
       'We do not do this consistently', 'Slight improvement', 'Unknown'],
      dtype=object)

array(['Existing Business', 'New Business', 'Prospect'], dtype=object)

In [131]:
cat_train

,TOPIC__C,TYPE_OF_CHANGE__C,CURRENT_ANSWER__C,ACCOUNT_CUSTOMER_TYPE__C
465,E1,Unknown,Unknown,Existing Business
451,E4,Unknown,Unknown,Existing Business
142,E3,Unknown,Other,Existing Business
1366,A2,No Change,This is consistently done,Existing Business
435,D2,New,This is not done,Existing Business
...,...,...,...,...
826,D1,Upgrade,This is consistently done,Existing Business
1099,A3,New,This is consistently done,Existing Business
1356,A2,No Change,This is consistently done,Existing Business
307,D2,No Change,This is consistently done,Existing Business
1593,B1,Unknown,This is consistently done,Existing Business

In [132]:
cat_train_ord["TYPE_OF_CHANGE__C"] = cat_train_ord["TYPE_OF_CHANGE__C"].map({"No Change" : 0, "Unknown" : 0, "Downgrade" : 0, "New" : .5, "Upgrade" : 1})
cat_train_ord["CURRENT_ANSWER__C"] = cat_train_ord["CURRENT_ANSWER__C"].map({"Unknown" : 0, "This is not done" : 0, "We do not do this consistently" : .5,                                                                             "Other" : 1, "Slight improvement" : .5, "This is consistently done" : 1})
cat_train_ord["ACCOUNT_CUSTOMER_TYPE__C"] = cat_train_ord["ACCOUNT_CUSTOMER_TYPE__C"].map({"Prospect" : 0, "New Business" : .5, "Existing Business" : 1})


cat_test_ord["TYPE_OF_CHANGE__C"] = cat_test_ord["TYPE_OF_CHANGE__C"].map({"No Change" : 0, "Unknown" : 0, "Downgrade" : 0, "New" : .5, "Upgrade" : 1})
cat_test_ord["CURRENT_ANSWER__C"] = cat_test_ord["CURRENT_ANSWER__C"].map({"Unknown" : 0, "This is not done" : 0, "We do not do this consistently" : .5,                                                                             "Other" : 1, "Slight improvement" : .5, "This is consistently done" : 1})
cat_test_ord["ACCOUNT_CUSTOMER_TYPE__C"] = cat_test_ord["ACCOUNT_CUSTOMER_TYPE__C"].map({"Prospect" : 0, "New Business" : .5, "Existing Business" : 1})

In [133]:
cat_train = np.concatenate((train_ohe,cat_train_ord),axis=1)
cat_test = np.concatenate((test_ohe,cat_test_ord),axis=1)
pd.DataFrame(cat_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
1361,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,1.0,1.0
1362,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1364,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [135]:
X_train = np.concatenate((num_train_minmax,cat_train),axis=1)
X_test = np.concatenate((num_test_minmax,cat_test),axis=1)
pd.DataFrame(X_test)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28
0,0.0,1.000000,0.038678,0.025721,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,1.0,1.0
1,0.0,1.000000,0.047224,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,1.0,1.0
2,0.0,1.000000,0.833960,0.277295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,0.0,1.000000,0.006202,0.015448,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,0.0,1.000000,0.042829,0.027034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,0.0,0.845142,1.000000,0.329819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
338,0.0,1.000000,0.042829,0.027034,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
339,0.0,0.845142,0.047224,0.085274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
340,0.0,1.000000,0.833960,0.277295,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
341,0.0,0.845142,1.000000,0.329819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [140]:
model1 = DecisionTreeRegressor()
model2 = LinearRegression()
model3 = KNeighborsRegressor()


model_pipeline = [model1, model2, model3]
model_names = ['Decision Tree Regressor', 'Linear Regression', 'KNN']
scores = {}
for model, model_name in zip(model_pipeline, model_names):
    mean_score = np.mean(cross_val_score(model, X_train, y_train, cv=5))
    scores[model_name] = mean_score
print(scores)
######
val_scores = {}
for model, model_name in zip(model_pipeline,model_names):
    model.fit(X_train, y_train)
    val_scores[model_name] = model.score(X_test,y_test)
print(val_scores)

{'Decision Tree Regressor': 0.8970570240205848, 'Linear Regression': 0.12925526320672096, 'KNN': 0.472889528665742}
{'Decision Tree Regressor': 0.8336380450905345, 'Linear Regression': 0.2580240961591883, 'KNN': 0.4912179598187991}